{% extends "news/base.html" %}

{% block content %}
<div class='container'>
    {% for source in sources %}
    <div class="card my-3">
        <div class="card-body">
            <h5><a class='icon-link' href="{% url "news:articles" cat=cat src=source %}">{{source}}</a></h5>
        </div>
      </div>
    {% endfor %}
    
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            {% if sources.has_previous %}
            <li class='page-item'><a class='page-link' href="?page={{sources.previous_page_number}}">Prev Page</a></li>
            {% else %}
            <li class='page-item disabled'><a class='page-link' href="">Prev Page</a></li>
            {% endif %}

            <li class='page-item'><a class='page-link' href="?page={{sources.number}}">Page {{sources.number}}</a></li>

            {% if sources.has_next %}
            <li class='page-item'><a class='page-link' href="?page={{sources.next_page_number}}">Next Page</a></li>
            {% else %}
            <li class='page-item disabled'><a class='page-link' href="">Next Page</a></li>
            {% endif %}
        </ul>
    </nav>
</div>
{% endblock content %}